header {
  margin: 10px;
  padding: 10px;
  border: 2px solid white;
  text-align: center;
}

h1, nav, a {
  margin: 10px;
  padding: 10px;
}

p {
  font-size: 15px;
}

h1, h2 {
  text-align: center;
}

.logs {
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 2px solid white;
}

.log {
  margin: 10px;
  padding: 10px;
  border: 2px solid white;
}

form {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: Consolas, monospace;
  text-align: center;
  color: white;
  border: 2px solid white;
}

h2 {
  text-decoration: underline;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  font-size: 20px;
  font-family: Consolas, monospace;
}

.submit-button {
  background-color: white;
  cursor: pointer;
}

@media screen and (min-width: 760px) {
  .logs {
    grid-area: logs;
  }

  form {
    grid-area: form;
    max-height: 550px;
  }

  .main-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "logs form";
  }

  input {
    width: 75%;
  }
}
